<table [ngClass]="{ table: true, 'table-primary': primary, 'table-danger': danger }">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{user.address.city}}</td>
            <td><a href="javascript:void" [routerLink]="['/userDetail', user.id]"
                    routerLinkActive="router-link-active">View</a></td>
        </tr>
    </tbody>
</table>