<form #regform='ngForm' (submit)=submitForm(regform.value)>
    <div *ngIf="message" [class]="error?'alert-danger':'alert-success'">
        {{message}}
    </div>
    <label for="">Fullname</label>
    <input type="text" name="fullname" [ngModel]="fullname">
    <br>
    <label for="">Email</label>
    <input type="text" name="email" [ngModel]="email">
    <br>
    <label for="">Password</label>
    <input type="password" name="password" [ngModel]="password">
    <br>
    <button>Submit</button>
</form>