<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void" [routerLink]="['/home']"
                    routerLinkActive="router-link-active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void" [routerLink]="['/about']"
                    routerLinkActive="router-link-active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void" [routerLink]="['/users']"
                    routerLinkActive="router-link-active">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void" [routerLink]="['/contact']"
                    routerLinkActive="router-link-active">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void" [routerLink]="['/test']"
                    routerLinkActive="router-link-active">Test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void" [routerLink]="['/templatedrivenform']"
                    routerLinkActive="router-link-active">Template Driven Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript: void" [routerLink]="['/reactiveform']"
                    routerLinkActive="router-link-active">Reactive Forms</a>
            </li>
        </ul>

    </div>
</nav>