<div class="container">
  <div class="row">
    <div class="col-12">
      <button (click)="changeLayout(3)">3 cols</button>
      <button (click)="changeLayout(6)">6 cols</button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let user of userslist"
      [ngClass]="[layout==3?'col-4':'',layout==4?'col-3':'',layout==6?'col-2':'', 'card']">
      {{ user.name }}
    </div>
  </div>
</div>