<table class="table table-dark">
    <tr>
        <th>id</th>
        <td>{{this.filtereduser.id}}</td>
    </tr>
    <tr>
        <th>name</th>
        <td>{{this.filtereduser.name}}</td>
    </tr>
    <tr>
        <th>email</th>
        <td>{{this.filtereduser.email}}</td>
    </tr>
</table>