<div class="well">
    <h1>Main</h1>
    <p>{{content | uppercase}}</p>
    <p>{{price | currency : 'EUR'}}</p>
    <p>{{today | date : 'YYYY-MM-DD'}}</p>
    <p>{{num | stringifyNumber: 'small' : 'hi'}}</p>
    <p>{{num | stringifyNumber: 'small'}}</p>
    <input type="text" [(ngModel)]="name">
    <button (click)="setName()">set name</button>
    <ul>
        <li><a href="javascript:void" [routerLink]="['hobbies']" routerLinkActive="router-link-active">hobbies</a></li>
        <li><a href="javascript:void" [routerLink]="['food']" routerLinkActive="router-link-active">food</a></li>
        <li><a href="javascript:void" [routerLink]="['family']" routerLinkActive="router-link-active">family</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>