<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <label for="">Fullname</label>
    <input type="text" formControlName="fullname">
    <div *ngIf="submitted && f['fullname'].errors" class="text-danger">
        <div *ngIf="f['fullname'].errors.required">First name is required</div>
        <div *ngIf="f['fullname'].errors.minlength">First name should be min 6 letters</div>
    </div>
    <br>
    <label for="">Email</label>
    <input type="text" formControlName="email">
    <div *ngIf="submitted && f['email'].errors" class="text-danger">
        <div *ngIf="f['email'].errors.required">email is required</div>
        <div *ngIf="f['email'].errors.email">Enter a valid email</div>
    </div>
    <br>
    <label for="">Password</label>
    <input type="text" formControlName="password">
    <br>
    <button>Submit</button>
    <br>
</form>